body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
}

canvas {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  background: rgb(33, 36, 50);
  z-index: -1;
}

main {
  position: fixed;
  z-index: 1;  
}